body {
  margin:0;
}
.google-img {
  display: block;
  margin: auto;
  margin-top: 150px;
}

.searchbox{
  display:block;
  margin:auto;
  margin-top: 25px;
  width:43em;
  height: 35px;
  border: solid 1px;
  border-top-color: #EAEAEA;
  border-left-color: #DDDDDD;
  border-right-color: #DDDDDD;
  border-bottom-color: #CBCBCB;
  border-radius: 3px;
  box-shadow: 0 2px 2px #DDDDDD;

}
.buttons{
  display: block;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.searchbutton, .luckybutton{
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  line-height: 27px;}

  .searchbutton:hover, .luckybutton:hover{
    color:black;
  }

  ul{
    list-style-type:none;
    margin:0;
    padding:0px;
    text-align:right;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }
.appimg{

}
  li{
    display: inline-block;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
  }
  a{
    color:blue;
  }

.apps{
width:5.12px;
height:5.12px;
padding:0
margin:0
}
.otherofferings{
  font-family:arial, sans-serif;
  font-size: 12px;
  text-align: center;
}
a{
  text-decoration: none;
  color: black
}
a:hover{
  text-decoration: underline;
  color: black
}

.link1, .link2, .link3 {
  color: blue;
}
.country{
  font-size:15px;
  text-align:left;
  background-color:#f2;
  color:rgba(0,0,0,0.5);
  padding-left:26px;
  margin-top:100px;
}
